th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding-left: 24px;
  padding-right: 24px;
}

.notes {
  table.mat-table {
    border-spacing: 0;
    margin: auto;
    background-color: #F5F5F5;

  }
  
  .title {
    font-weight: 800;
  }
  
}


